html {
  background-color: #2C2F33;
  cursor: default;
}

body {
  margin: 0px;
  font-family: "Segoe UI Light", serif;
  height: 100%;
}

table {
  width: 1000px;
  height: 190px;
  margin: 0px auto;
}

table td {
  padding: 0px;
  width: 75px;
  height: 75px;
}

.long {
  width: 300px;
}

.button {
  border: 1px solid rgba(145,165,180,.6);
  border-radius: 4px;
  color: rgba(145,165,180,.6);
  font-size: 18pt;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  line-height: 75px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button:hover {
  color: black;
  background-color: #99AAB5;
}

#onButton {
  width: 300px;
  height: 75px;
  display: block;
  margin: 42px auto;
}

#keyboard {
  display: none;
}

#inputField {
  background-color: transparent;
  border: 1px solid rgba(145,165,180,.6);
  font-size: 18pt;
  font-weight: bold;
  width: calc(100% - 10px);
  height: 100%;
  color: rgba(145,165,180,.6);
  padding: 0px 5px;
  line-height: 40px;
}

#gamearea {
  border: 1px solid rgba(145,165,180,.6);
  display: block;
  margin: 0px auto;
}
